{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Tasks</title>
    </head>
    <body>
        {% block content %}

        {% endblock %}


        <script src="{% static '/js/htmx.js' %}"></script>
        <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
        </script>
    </body>
</html>
