{% extends 'base.html' %}


{% block content %}

    <table>

        <thead>
            <tr>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Day</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Date</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Name</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Scheduled</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Deadline</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Status</th>
            </tr>
        </thead>
        <tbody>

            {% for row in rows %}

                <tr>
                    <td>{{ row.day }}</td>
                    <td>{{ row.date }}</td>
                {% if row.id is not None %}
                    <td>{{ row.name }}</td>
                    <td>{{ row.scheduled_at }}</td>
                    <td>{{ row.deadline_at }}</td>
                    <td>{{ row.status }}</td>
                    <td>
                    <a
                        href="{% url 'task-detail' pk=row.id %}"
                        hx-boost="true">
                        View
                        </a>
                    </td>
                    <td><a
                        href="{% url 'task-update' pk=row.id %}"
                        hx-boost="true">
                        Update
                        </a>
                    </td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
                </tr>

            {% endfor %}

        </tbody>


    </table>

{% endblock %}
