{% extends 'base.html' %}


{% block content %}

    <table>
        <thead>
            <tr>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Name</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Description</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Scheduled</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Deadline</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Repeat</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Repeat type</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Repeat interval</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Status</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.scheduled_at }}</td>
                <td>{{ task.deadline_at }}</td>
                <td>{{ task.repeat }}</td>
                <td>{{ task.repeat_type }}</td>
                <td>{{ task.repeat_interval }}</td>
                <td>{{ task.status }}</td>
                <td>
                <button hx-delete="{% url 'task-delete' pk=task.pk %}"
                        hx-push-url="true"
                        hx-confirm="Are you sure?"
                        hx-target="body">
                    Delete
                </button>
                </td>
            </tr>

        </tbody>


    </table>

{% endblock %}
