{% extends 'base.html' %}


{% block content %}

    <table>

        <thead>
            <tr>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Name</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Description</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Scheduled</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Deadline</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Repeat</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Repeat type</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Repeat interval</th>
                <th style="border-bottom: 2px solid black; padding-bottom: 10px;">Status</th>
            </tr>
        </thead>
        <tbody>

            {% for task in tasks %}

                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.scheduled_at }}</td>
                    <td>{{ task.deadline_at }}</td>
                    <td>{{ task.repeat }}</td>
                    <td>{{ task.repeat_type }}</td>
                    <td>{{ task.repeat_interval }}</td>
                    <td>{{ task.status }}</td>
                <td><a
                    href="{% url 'task-detail' pk=task.pk %}"
                    hx-boost="true">
                    View
                    </a>
                </td>
                <td><a
                    href="{% url 'task-update' pk=task.pk %}"
                    hx-boost="true">
                    Update
                    </a>
                </td>
                </tr>

            {% endfor %}

        </tbody>


    </table>

{% endblock %}
